* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 24px;
  width: 300px;
  box-shadow: 0 20px 32px rgba(96, 97, 112, 0.24);
}
.bottom-wrapper {
  margin-top: 0.5rem;
  text-align: center;
}
.form-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.report {
  padding-top: 0.3rem;
  color: #15171a;
  font-size: 18px;
  /* font-family: Inter; */
  font-weight: 400;
  word-wrap: break-word;
}
.menu {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.menu-box {
  color: #6941c6;
  font-size: 16px;
  /* font-family: Inter; */
  font-weight: 600;
  line-height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f9f5ff;
  border-radius: 8px;
  border: 1px #e9d7fe solid;
  height: 48px;
  gap: 8px;
  cursor: pointer;
}
.menu-box.disabled {
  cursor: not-allowed;
  background: #f9f5ff;
  color: #9991AF;
}
.menu-box.disabled:hover{
  background: #f9f5ff;
  color: #9991AF;
}
.menu-box span{
    font-size: 16px;
}
.menu-box:hover{
  background-color: #eee5fc;
}
#record-button.record-started {
  background: #f9f5ff;
  color: #9991AF;
}

.form-group {
  margin-bottom: 1rem;
  position: relative;
}
.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.form-group input {
  width: 100%;
  border: 1px solid #dfd9d9;
  border-radius: 6px;
  padding: 0.5rem 1rem;
}
.form-group .input-message {
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translateY(100%);
  color: #dc143c;
  font-size: 90%;
}

.form-wrapper{
  display: none;
  padding-top: .5rem;
}

.settingIc{
  cursor: pointer;
}

.setting-header{
  display: flex;
  gap: .2rem;
  align-items: center;
  padding-bottom: 1rem;
  transform: translateX(-5px);
}

.setting-header h3{
  margin: 0;
  font-weight: 500;
  font-size: 17px;
}

#backIc{
  cursor: pointer;
}